@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>服务器错误</title>
</head>
<body>
    <div>
        服务器处理时发生错误。
    </div>
</body>
</html>
