@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>reference</h2>
        <p><a href="https://jqueryvalidation.org/">jquery validation doc</a></p>
    </div>
    <div class="col-md-4">
        <h2>demo</h2>
        <p><a href="~/Student/Create">普通表单验证</a></p>
        <p><a href="~/Student/Create2">动态增加和删除验证规则</a></p>
        <p><a href="~/Student/Create3">添加自定义验证</a></p>
    </div>
    <div class="col-md-4">
        <h2>cust</h2>
        <p><a href="~/Student/Create4">邮政编码</a></p>
        <p><a href="~/Student/Create5">时间比较</a></p>
    </div>
</div>