@model MVCValidateDemo.Controllers.PicUploadDemoViewModel
@{
    ViewBag.Title = "Index2";
}

<style type="text/css">
    .qq-upload-list {
        display: none;
    }

    .qq-upload-button {
        background-color: transparent;
        width: 80px;
        height: 80px;
    }
</style>

@section scripts{
    <script src="~/assets/fileupload/jquery.fineuploader-3.0.min.js"></script>
    <script src="~/Scripts/updatepic.js"></script>
    <link href="~/assets/lightbox/css/lightbox.css" rel="stylesheet" />
    <script src="~/assets/lightbox/js/lightbox.min.js"></script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header fn-clear">
            <h2 class="col-md-10">图片上传</h2>
            <div class="col-md-2 text-right">
                @*<a onclick="goback()" class="btn btn-danger" style="margin-top: 25px;">返回</a>*@
            </div>
        </div>
    </div>
</div>
<div class="form-wrapper">
    <div class="row">
        <div class="col-lg-8 col-md-9 col-sm-11">
            @using (Html.BeginForm("Index2", "PicUploadDemo", FormMethod.Post, new { @id = "form1", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        图片<span style="color: #F00">*</span>
                    </label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-lg-12 form-control-static">添加图片。</div>
                        </div>
                        @Html.PicUpload(p => p.Files)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        图片2<span style="color: #F00">*</span>
                    </label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-lg-12 form-control-static">添加图片。</div>
                        </div>
                        @Html.PicUpload(p => p.Files2)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="保存" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
