body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.speed-panel {
	width: 826px;
}
.speed-main {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.speed-img {
	position: absolute;
	z-index: 98;
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.speed-img img {
	width: 100%
}
.speed-main .lent {
	width: 80px;
	height: 80px;
	background: url(../images/lent.png) no-repeat
}
.speed-main .lent:hover {
	width: 80px;
	height: 80px;
	background: url(../images/lent2.png) no-repeat
}
.speed-del {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
	right: -60px;
	z-index: 100;
}
.speed-del i {
	color: #337ab7;
	width: 18px;
	height: 18px;
}
.speed-del i:hover {
	color: #23527c;
}
/*图片上传*/
.qq-upload-button{
    width: 80px;
    height: 80px;
    background: url(../images/lent.png) no-repeat;
}
.qq-upload-button:hover{
    width: 80px;
    height: 80px;
    background: url(../images/lent2.png) no-repeat;
}
/*#btuplaodGain{
    width: 80px;
    height: 80px;
    background: url(../images/lent.png) no-repeat;
}
#btuplaodGain:hover{
    width: 80px;
    height: 80px;
    background: url(../images/lent2.png) no-repeat;
}*/
.clsimagepre{
    width: 80px;
    height: 80px;
    background: url(../images/imgpre.png) no-repeat
}
.qq-upload-button input[type=file] {
    height:174px;
}

.qq-upload-button input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}