body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*jquery ui dialog css modify begin
1.modify dialog
*/
.ui-dialog{
    padding:0
}
.ui-dialog .ui-corner-all {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.ui-widget-header{
    border:0;
    background:#f5f5f5;
    color:#333;
}
.ui-dialog .ui-dialog-title{
    margin:0.5em 0;
}
.ui-widget-content {
    background:#fff
}
.ui-icon-closethick {
    background-image: url(images/close.png) !important;
    background-position: left top !important;
    margin: 0 !important;
}
.ui-dialog .ui-button-icon-only .ui-icon{
    left:0;top:0
}

.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick {
    width: 16px !important;
    height: 16px !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none !important;
    border: none !important;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover {
    padding: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane{
    background:#f5f5f5;
    padding:10px;
}

.ui-dialog .ui-dialog-buttonpane button{
    margin:5px;cursor:pointer
}

.ui-widget-overlay{
    background:#999;
    opacity:.5;
}

/*jquery ui dialog css modify end*/